body{
    border-color:cyan;
    border-style: solid;
    border-width: 30px;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    } 
    label{
    color:dodgerblue;  
    }
    .pub{
    border: 10px 0px 10px 0px;
    border-style: double;
    border-width: 5px;
    border-color:dodgerblue;
    }
    .sub{
    border: 10px 0px 10px 0px;
    border-style: double;
    border-width: 5px;
    border-color:dodgerblue;
    text-align: center;
    padding-top: 20px;
    }
    #broker{
    color: blueviolet;
    inline-size:350px;
    font-size: 30px;
    border-style: double;
    border-color: blue; 
    }
    #pub-topic{
    font-size: 25px;
    }
    #pub-payload{
    font-size: 27px;
    }
    #sub-topic{ 
    font-size: 30px;
    }
    p{
    color: goldenrod;
    }